:root {
  /*COLOR*/
  --primary-color: #333;

  --yellow-color-1: #fb1;
  --yellow-color-2: #fea;
  --yellow-color-3: #764701;
  
  --error-color: #f31;

  /*FONTS*/
  --font-type-first: Helvetica, Arial, sans-serif;
  --font-type-second: 'Spectral', Georgia;
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
  margin: 0;
  color: var(--primary-color);
  font-family: var(--font-type-first);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--font-type-first);
  color: var(--primary-color);
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}